In [1]:
print ('Hello world')

Hello world

In [6]:
msg = ('Hello world')
print (msg)

Hello world

In [5]:
#rainfallsubstract
rainfall=5**6
rainfall=rainfall-(rainfall*1/10)
rainfall

14062.5

In [ ]:
#rainfalladd
vol_res =4.445**(8)

In [6]:
#rainfall+volres
rainfall=14062.5
vol_res =4.445**(8)
total_vol=rainfall+vol_res
total_vol

166458.69454213284

In [7]:
#increase resvol by 5%
vol_res=4.445**(8)
vol_res=vol_res+(vol_res*(1/20))
vol_res

160016.0042692395

In [8]:
#dec resvol by 5%
vol_res=160016.0042692395
vol_res=vol_res-(vol_res*(1/20))
vol_res

152015.20405577752

In [10]:
#substract  2.5e5 
vol_res=152015.20405577752
vol_res=vol_res-(2.5**5)
vol_res

151917.54780577752

In [15]:
carrots = 24
rabbits = 8
crs_per_rab = carrots/rabbits
crs_per_rab

3.0

In [16]:
carrots = 24
rabbits = 8
crs_per_rab = carrots/rabbits
rabbits = 12
crs_per_rab

3.0

In [17]:
#reversing 
List2=['This','is','an','easy','quiz']
List2[::-1]

['quiz', 'easy', 'an', 'is', 'This']

In [28]:
#method2
List2=['This','is','an','easy','quiz']
List2[-4:0]

[]

In [18]:
#word
word='name'
word[0]

'n'

In [21]:
#wordreverse
word='name'
word[-1]

'e'

In [33]:
#Write code to compare these densities. Is the population of San Francisco more dense 
#than that of Rio de Janeiro? PrintTrueif it is andFalseif not
sf_population=864816
sf_area=231.89
san_francisco_pop_density = sf_population/sf_area
san_francisco_pop_density

3729.423433524516

In [34]:
rio_population=6453682
rio_area =486.5
rio_de_janeiro_pop_density = rio_population/rio_area
rio_de_janeiro_pop_density

13265.533401849949

In [35]:
san_francisco_pop_density==rio_de_janeiro_pop_density

False

In [37]:
san_francisco_pop_density!=rio_de_janeiro_pop_density

True

In [42]:
#Write two expressions using format() method and f-string method. 
print("he is an{}{}{} boy".format(' honest',' and',' sincere'))

he is an honest and sincere boy

In [47]:
#fstring method
name="peter"
age=34
print(f"{name} is {age} years old")

peter is 34 years old

In [49]:
#Change the name of the two strings from ‘Hero’ to ‘Zero’ using the slicing and string concatenation method. Use least lines of code as you can.

str1='Zero'
str1

'Zero'

In [71]:
name='Zero'
new_name= name[1:]
new_name

'ero'

In [72]:
'H'+new_name

'Hero'

#pynative exercise
str1 ="PYnative"
print(str1[1:4],str1[:5],str1[4:],str1[0:-1],str1[:-1])