In [1]:
a=2
b=3
c=a**b
print(c)

8

In [6]:
a=2
b=3
c=a+b
print(c)

5

In [5]:
a=2
b=3
c=a-b
print(c)

-1

In [10]:
a=27
b=3
c=a/b
print(c)

9.0

In [13]:
a=29
b=3
c=a%b
print(c)

2

In [34]:
a=13
b=3
c=a//b
print(c)

4

In [35]:
type(a)

int

print() function doesn't work with floats, really!
 i.e. print(r) was not giving me the answer!
 Well, it worked after I reopened the file

In [ ]:
# print() function doesn't work with floats, really!
# i.e. print(r) was not giving me the answer!
# Well, it worked after I reopened the file
p=0.25
q=2
r=p**q
print(r)

In [55]:
type(r)

float

In [30]:
s='"Hello there!",I\'m learning to code in Phyton. Trying double quotes and single quotes together'
print(a)

'Hello there!',I'm learning to code in Phyton. Trying double quotes and single quotes together

In [32]:
s="'Hello there!',I\'m learning to code in Phyton. Trying double quotes and single quotes together"
print(a)

'Hello there!',I'm learning to code in Phyton. Trying double quotes and single quotes together

In [6]:
s=['sample1','sample2']
s

['sample1', 'sample2']

In [58]:
type(s)

list

In [72]:
n = 600
n = n + 1
n

601

In [62]:
"'Hello there!',I\'m learning to code in Phyton. Trying double quotes and single quotes together"

"'Hello there!',I'm learning to code in Phyton. Trying double quotes and single quotes together"

In [63]:
'Hello there!,I\'m learning to code in Phyton. Trying double quotes and single quotes together'

"Hello there!,I'm learning to code in Phyton. Trying double quotes and single quotes together"

In [64]:
"Hello there!,I'm learning to code in Phyton. Trying double quotes and single quotes together"

"Hello there!,I'm learning to code in Phyton. Trying double quotes and single quotes together"

In [3]:
print ("hello \tworld")
print ("Look \n below")
print ("spook \t right")

hello 	world
Look
 below
spook 	 right

In [5]:
len("test with spaces")

16

In [8]:
my_var="Sample Text for length"
my_var

'Sample Text for length'

In [20]:
len(my_var)
my_var[5]

'e'

In [21]:
my_var[len(my_var)-3]

'g'

When I run the following code w/o print, it only returns the result of the last statement (i.e. g)
 So, I had to encapsulate each statements inside "print" to get BOTH the results displayed

In [24]:
len(my_var)
print(my_var[5])
print(my_var[len(my_var)-3])

e
g

In [22]:
my_var[1]

'a'

In [23]:
str1 = "abcdefghijklmnopqrstuvqxyz"
str1[-2]

'y'

slice = [start:stop:jump]
 jump = i.e. jump to that position

In [35]:
# slice = [start:stop:jump]jump = i.e. jump to that position

str1[10:12:]

'kl'

In [36]:
str1[:10]

'abcdefghij'

In [40]:
str1[10:15:2]

'kmo'

In [39]:
str1[::8]

'aiqy'

This is how to reverse the string - use negative jump of 1 w/o start or stop

In [41]:
# Everything from beginning P (0th)
str1[::-1]

'zyxqvutsrqponmlkjihgfedcba'

Concatenating strings and integers, by casting

In [45]:
k=8
l="long"
print(str(k)+l)

8long

In [52]:
int1=8
str2="3"
add=int1+int(str2)
print(add)

11

In [53]:
# This is a comment line
"This was preceeded by a comment line"

'This was preceeded by a comment line'

In [71]:
# This is string replacement using slicing and concatenation method
fu="Underwood"
bu = "Frank Blu" + fu[1::]
print("Was '" + fu + "' and now it's '" + bu + "'")

Was 'Underwood' and now it's 'Frank Blunderwood'

In [98]:
# type the variable name followed by "." and "tab key", to see available functions
print("fu = " + fu)
print("bu = " + bu)
print(fu.capitalize())
print(fu.casefold())
print(bu.upper())
print(bu.capitalize())
print(fu.lower())
# count function takes one argument and it's the string for which the number of occurrences are counted
# the string is case sensitive, as seen in the examples below
print("Find number of uppercase 'U' in 'fu' = " + str(fu.count('U')))
print("Find number of lower 'u' in 'fu' = " + str(fu.count('u')))

fu = Underwood
bu = Frank Blunderwood
Underwood
underwood
FRANK BLUNDERWOOD
Frank blunderwood
underwood
Find number of uppercase 'U' in 'fu' = 1
Find number of lower 'u' in 'fu' = 0

In [100]:
# Need to explore the following alternatives for concatenations (in Python3)
# it's more like filling the blanks
# .formt() - preferred, maybe
# f_strings

In [102]:
print('Claire {} Underwood'.format('Frank'))

Claire Frank Underwood

In [114]:
# Example of using multiple strings by their index positions
print('FirstName LastName: {1} {0} ' .format('Umakant','Sashi') )
print("The {0}, {2}, {1} jackal was hunting for it's prey".format('brown','sly','wicked'))
print("The {e}, {c}, {d} [{ani}] was hunting for it's prey".format(c='brown',d='sly',e='wicked',ani='fox'))

FirstName LastName: Sashi Umakant
The brown, wicked, sly jackal was hunting for it's prey
The wicked, brown, sly [fox] was hunting for it's prey

In [150]:
# examples of float format (scale and precision)
# float format = [value:width/scale.precisionf]
# scale = Total number of digits, including the decimal; so it pads with spaces as needed
result1=1000/7
result2=100/7
# print(result)
print("The actual answer is {}".format(result1))
print("The actual answer is {}".format(result2))

print("The scale4 answer is {r:4.3f}".format(r=result1))
print("The scale4 answer is {r:4.3f}".format(r=result2))

print("The scale5 answer is {r:5.3f}".format(r=result1))
print("The scale5 answer is {r:5.3f}".format(r=result2))

print("The scale6 answer is {r:6.3f}".format(r=result1))
print("The scale6 answer is {r:6.3f}".format(r=result2))

print("The scale7 answer is {r:7.3f}".format(r=result1))
print("The scale7 answer is {r:7.3f}".format(r=result2))

print("The scale8 answer is {r:8.3f}".format(r=result1))
print("The scale8 answer is {r:8.3f}".format(r=result2))

print("The precise answer is {r:10.3f}".format(r=result1))
print("The precise answer is {r:10.3f}".format(r=result2))

The actual answer is 142.85714285714286
The actual answer is 14.285714285714286
The scale4 answer is 142.857
The scale4 answer is 14.286
The scale5 answer is 142.857
The scale5 answer is 14.286
The scale6 answer is 142.857
The scale6 answer is 14.286
The scale7 answer is 142.857
The scale7 answer is  14.286
The scale8 answer is  142.857
The scale8 answer is   14.286
The precise answer is    142.857
The precise answer is     14.286

In [156]:
# fstring example for concatenation; more like filling the blanks
sample='"latex" gloves'
material='"leather"'
item='gloves'
print(f"Need to order {sample}")
print(f"Used to own {item} made out of {material}")

Need to order "latex" gloves
Used to own gloves made out of "leather"

In [174]:
# Split example
long_str1="This is a lengthy string"
print(long_str1.split())

# Split example with parameters: separator and MaxSplit
# Syntax: variable.split('sep',MaxSplit)
# default separator is space
# MaxSplit is the maximum number of splits you want i.e. how many cuts are applied to the string
long_str2="FirstName|MiddleInitial|LastName|Email|Phone"
print(long_str2.split('|'))
print(long_str2.split('|',3))
print(long_str2.split('|',2))
print(long_str2.split('|',1))
print(long_str2.split(' ',1))
print(long_str2.split('',3)) # needs a space as sep

['This', 'is', 'a', 'lengthy', 'string']
['FirstName', 'MiddleInitial', 'LastName', 'Email', 'Phone']
['FirstName', 'MiddleInitial', 'LastName', 'Email|Phone']
['FirstName', 'MiddleInitial', 'LastName|Email|Phone']
['FirstName', 'MiddleInitial|LastName|Email|Phone']
['FirstName|MiddleInitial|LastName|Email|Phone']

ValueError: empty separator

In [181]:
# Boolean operators example set1
var1=2
var2=2
print(f"Is 1>2 true or false? {1>2}")
print(f"Is 2==3 true or false? {2==3}")
print(f"Is var1==var2 true or false? {var1==var2}")

Is 1>2 true or false? False
Is 2==3 true or false? False
Is a==b true or false? True

In [195]:
# Boolean operators example set2
age1 = 15
age2 = 6
is_teen = age1>12 and age1<20
not_teen = not(age2>12 or age2<20) # need another example for "not"
print(f"Is age {age1} considered teenage? {is_teen}")
print(f"Is age {age2} considered teenage? {not_teen}")

Is age 15 considered teenage? True
Is age 6 considered teenage? False

In [12]:
str1 = "PYnative"
revstr1 = str1[::-1]
print(str1[1:4], str1[:5], str1[4:], str1[0:-1], str1[:-1])
print(str1[1:4], str1[:5], str1[4:], str1[0:-1], revstr1[0:-1])

Yna PYnat tive PYnativ PYnativ
Yna PYnat tive PYnativ evitanY